scripts/FlowsWithAssistantV2.json
[{"id":"d2c1f7b4.25f738","type":"watson-speech-to-text","z":"d62d745e.90166","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"FUCbl5WWa5C1","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":341.857177734375,"y":125.28571319580078,"wires":[["9d0670a0.08436"]]},{"id":"5a0dcc38.1caf04","type":"watson-text-to-speech","z":"d62d745e.90166","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"en-US_LisaV2Voice","format":"audio/wav","password":"FUCbl5WWa5C1","apikey":"","payload-response":true,"default-endpoint":false,"service-endpoint":"","x":940.857177734375,"y":413.28570556640625,"wires":[["d69b920a.80013"]]},{"id":"9d0670a0.08436","type":"function","z":"d62d745e.90166","name":"set payload & session_id","func":"msg.payload = msg.transcription;\nmsg.params = {};\nmsg.params.session_id = flow.get('session_id');\n\nreturn msg;","outputs":1,"noerr":0,"x":586.857177734375,"y":125.28572082519531,"wires":[["a2e2a35b.5e899"]]},{"id":"dff8ca37.ad77a8","type":"debug","z":"d62d745e.90166","name":"Tone analyzer debug output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":155.857177734375,"y":301.28570556640625,"wires":[]},{"id":"a2e2a35b.5e899","type":"watson-tone-analyzer-v3","z":"d62d745e.90166","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"","x":121,"y":242,"wires":[["df916a82.82dac8","dff8ca37.ad77a8"]]},{"id":"df916a82.82dac8","type":"function","z":"d62d745e.90166","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":383,"y":242,"wires":[["19bd77f4.ca808","3cda4f1f.5826a"]]},{"id":"b316a029.91a9e","type":"function","z":"d62d745e.90166","name":"set payload & store session_id","func":"output = '';\n\nif (msg.payload.output.generic) {\n    textArray = msg.payload.output.generic;\n    \n    textArray.forEach(function(i) {\n       output = ' ' + i.text;\n    });\n} else {\n    output = 'No response';\n}\n\n//Store session_id\nflow.set('session_id',msg.payload.session_id);\n\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":661.857177734375,"y":413.28570556640625,"wires":[["5a0dcc38.1caf04"]]},{"id":"16374992.6f672e","type":"comment","z":"d62d745e.90166","name":"Say: 1) \"turn on lights\" or 2) \"turn off lights\" or 3) \"play music\" ","info":"","x":258.857177734375,"y":77,"wires":[]},{"id":"e65b2f95.24031","type":"debug","z":"d62d745e.90166","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1006.5,"y":234,"wires":[]},{"id":"19bd77f4.ca808","type":"debug","z":"d62d745e.90166","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":398.5,"y":301,"wires":[]},{"id":"1eb6f7d6.90d96","type":"inject","z":"d62d745e.90166","name":"Greeting","topic":"","payload":"Hi there","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":105,"y":420,"wires":[["34e19c0f.0c9454"]]},{"id":"f98f8bac.39cd9","type":"microphone","z":"d62d745e.90166","name":"","x":135.857177734375,"y":125.28571319580078,"wires":[["d2c1f7b4.25f738"]]},{"id":"d69b920a.80013","type":"play audio","z":"d62d745e.90166","name":"","voice":"11","x":1058.857177734375,"y":479.28570556640625,"wires":[]},{"id":"fc7085c0.983c28","type":"watson-conversation-v1","z":"d62d745e.90166","name":"","workspaceid":"faed3e58-152c-4b56-a5a6-131f3d72e7fb","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":800.5,"y":234,"wires":[["b316a029.91a9e","e65b2f95.24031"]]},{"id":"1df4cd4a.0e2c53","type":"watson-assistant-v2","z":"d62d745e.90166","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"3ba75bac-5546-41c8-8fb9-c47f8ba07445","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":623,"y":591,"wires":[["1143b2d.7aa9bcd","b316a029.91a9e"]]},{"id":"1143b2d.7aa9bcd","type":"debug","z":"d62d745e.90166","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":839,"y":590,"wires":[]},{"id":"cb5e575a.66565","type":"comment","z":"d62d745e.90166","name":"v2: provide the assistant ID (not the workspace/skill ID)","info":"","x":752,"y":544,"wires":[]},{"id":"17605576.e3f033","type":"comment","z":"d62d745e.90166","name":"provide skill / workspace ID","info":"","x":857,"y":189,"wires":[]},{"id":"34e19c0f.0c9454","type":"switch","z":"d62d745e.90166","name":"","property":"assistant_version","propertyType":"flow","rules":[{"t":"eq","v":"v1","vt":"str"},{"t":"eq","v":"v2","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":276,"y":420,"wires":[["fc7085c0.983c28"],["1df4cd4a.0e2c53"]]},{"id":"3e2b3579.48f692","type":"change","z":"d62d745e.90166","name":"Assistant version","rules":[{"t":"set","p":"assistant_version","pt":"flow","to":"v2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1048,"y":66,"wires":[[]]},{"id":"827d6c1b.0b7c78","type":"inject","z":"d62d745e.90166","name":"Insert once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":841,"y":66,"wires":[["3e2b3579.48f692"]]},{"id":"b8100697.b7a778","type":"comment","z":"d62d745e.90166","name":"Change the assistant version here to either 'v1' or 'v2'","info":"","x":949,"y":24,"wires":[]},{"id":"3cda4f1f.5826a","type":"switch","z":"d62d745e.90166","name":"","property":"assistant_version","propertyType":"flow","rules":[{"t":"eq","v":"v1","vt":"str"},{"t":"eq","v":"v2","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":605,"y":242,"wires":[["fc7085c0.983c28"],["1df4cd4a.0e2c53"]]}]
