scripts/flows.json
[{"id":"a01b5ac7.817728","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6d2df563.f5096c","type":"watson-speech-to-text","z":"a01b5ac7.817728","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"FUCbl5WWa5C1","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":316.857177734375,"y":63.28571319580078,"wires":[["f144f77c.bb4dd8"]]},{"id":"c549607.d9403a","type":"watson-text-to-speech","z":"a01b5ac7.817728","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"FUCbl5WWa5C1","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":859.857177734375,"y":202.28570556640625,"wires":[["369b3eab.15de42"]]},{"id":"f144f77c.bb4dd8","type":"function","z":"a01b5ac7.817728","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":537.857177734375,"y":63.28572082519531,"wires":[["75baf847.6a52b"]]},{"id":"369b3eab.15de42","type":"function","z":"a01b5ac7.817728","name":"Set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":723.857177734375,"y":321.28570556640625,"wires":[["2c676417.eb08c4"]]},{"id":"48eb758e.97b64c","type":"watson-conversation-v1","z":"a01b5ac7.817728","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":628.1904907226562,"y":1580.0357460975647,"wires":[["bbbd0ebf.86db"]]},{"id":"c623dbaf.85988","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.19049072265625,"y":1498.0357460975647,"wires":[["ea8b4b17.5fde5"]]},{"id":"c31d8cec.d422b8","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.69049072265625,"y":1535.0357460975647,"wires":[["ea8b4b17.5fde5"]]},{"id":"ea8b4b17.5fde5","type":"function","z":"a01b5ac7.817728","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":390.69049072265625,"y":1534.0357460975647,"wires":[["48eb758e.97b64c"]]},{"id":"fb36faf5.f9ba8","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.19049072265625,"y":1619.0357460975647,"wires":[["1d603750.772361"]]},{"id":"914a9435.23e92","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.69049072265625,"y":1655.0357460975647,"wires":[["1d603750.772361"]]},{"id":"1d603750.772361","type":"function","z":"a01b5ac7.817728","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":389.69049072265625,"y":1654.0357460975647,"wires":[["48eb758e.97b64c"]]},{"id":"bbbd0ebf.86db","type":"debug","z":"a01b5ac7.817728","name":"","active":true,"console":"false","complete":"payload.output.text","x":847.1904907226562,"y":1580.0357460975647,"wires":[]},{"id":"3937e4b5.83bf7c","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1401.0357460975647,"wires":[["48eb758e.97b64c"]]},{"id":"53e09411.f3e564","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1437.0357460975647,"wires":[["48eb758e.97b64c"]]},{"id":"78f4e385.35eb04","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":266.69049072265625,"y":1749.0357460975647,"wires":[["904efd24.edb9c"]]},{"id":"904efd24.edb9c","type":"function","z":"a01b5ac7.817728","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":411.69049072265625,"y":1749.0357460975647,"wires":[["48eb758e.97b64c"]]},{"id":"d9673d33.24d9f","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.69049072265625,"y":1571.0357460975647,"wires":[["ea8b4b17.5fde5"]]},{"id":"74b8a49b.424e3c","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.19049072265625,"y":1691.0357460975647,"wires":[["1d603750.772361"]]},{"id":"219fdfe5.a38a38","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1473.0357460975647,"wires":[["48eb758e.97b64c"]]},{"id":"eb8f3e8a.4b5ee8","type":"debug","z":"a01b5ac7.817728","name":"Tone analyzer debug output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":152.857177734375,"y":234.28570556640625,"wires":[]},{"id":"75baf847.6a52b","type":"watson-tone-analyzer-v3","z":"a01b5ac7.817728","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"","x":113,"y":133,"wires":[["6a377ca.6b06384","eb8f3e8a.4b5ee8"]]},{"id":"6a377ca.6b06384","type":"function","z":"a01b5ac7.817728","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":133,"wires":[["d1c148bf.236ae","1406fbb9.ab4ea4"]]},{"id":"5f0eb4db.84350c","type":"function","z":"a01b5ac7.817728","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    \n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":2,"noerr":0,"x":899.857177734375,"y":133.28570556640625,"wires":[[],["c549607.d9403a"]]},{"id":"6ed69440.10bdc4","type":"comment","z":"a01b5ac7.817728","name":"Say: 1) \"turn on lights\" or 2) \"turn off lights\" or 3) \"play music\" ","info":"","x":534.857177734375,"y":403.28570556640625,"wires":[]},{"id":"d1c148bf.236ae","type":"debug","z":"a01b5ac7.817728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":417.5,"y":238,"wires":[]},{"id":"ddb646a6.c5fa3","type":"inject","z":"a01b5ac7.817728","name":"","topic":"","payload":"Hi there","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":61,"wires":[["1406fbb9.ab4ea4"]]},{"id":"903805a.6e646f8","type":"microphone","z":"a01b5ac7.817728","name":"","x":126.857177734375,"y":64.28571319580078,"wires":[["6d2df563.f5096c"]]},{"id":"2c676417.eb08c4","type":"play audio","z":"a01b5ac7.817728","name":"","voice":"0","x":958.857177734375,"y":319.28570556640625,"wires":[]},{"id":"1406fbb9.ab4ea4","type":"watson-conversation-v1","z":"a01b5ac7.817728","name":"","workspaceid":"520687ee-eba3-44cc-846a-807ec404af80","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":645,"y":132,"wires":[["5f0eb4db.84350c"]]},{"id":"58864772.f36b9","type":"inject","z":"a01b5ac7.817728","name":"","topic":"testing the flow","payload":"play music","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":410,"wires":[["f144f77c.bb4dd8"]]}]
