scripts/flows.json
[{"id":"6d5bd906.1bf2d","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c4253f2a.9e6fb8","type":"watson-speech-to-text","z":"6d5bd906.1bf2d","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"FUCbl5WWa5C1","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":316.857177734375,"y":63.28571319580078,"wires":[["86e2be16.e2b508"]]},{"id":"b731021d.360ef8","type":"watson-text-to-speech","z":"6d5bd906.1bf2d","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"FUCbl5WWa5C1","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":557.857177734375,"y":371.28570556640625,"wires":[["8af35108.6fe6e8"]]},{"id":"86e2be16.e2b508","type":"function","z":"6d5bd906.1bf2d","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":537.857177734375,"y":63.28572082519531,"wires":[["55a044d6.278404"]]},{"id":"8af35108.6fe6e8","type":"function","z":"6d5bd906.1bf2d","name":"Set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":779.857177734375,"y":370.28570556640625,"wires":[["e062723a.d51308"]]},{"id":"bc47b482.156da8","type":"watson-conversation-v1","z":"6d5bd906.1bf2d","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":628.1904907226562,"y":1580.0357460975647,"wires":[["1d497ed6.7fedb1"]]},{"id":"abf8dd99.71f35","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.19049072265625,"y":1498.0357460975647,"wires":[["32caf740.bbc7b8"]]},{"id":"b1423af7.b87038","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.69049072265625,"y":1535.0357460975647,"wires":[["32caf740.bbc7b8"]]},{"id":"32caf740.bbc7b8","type":"function","z":"6d5bd906.1bf2d","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":390.69049072265625,"y":1534.0357460975647,"wires":[["bc47b482.156da8"]]},{"id":"fd71a0f1.b609e","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.19049072265625,"y":1619.0357460975647,"wires":[["97464b5.c5177b8"]]},{"id":"e03296d4.68ca78","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.69049072265625,"y":1655.0357460975647,"wires":[["97464b5.c5177b8"]]},{"id":"97464b5.c5177b8","type":"function","z":"6d5bd906.1bf2d","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":389.69049072265625,"y":1654.0357460975647,"wires":[["bc47b482.156da8"]]},{"id":"1d497ed6.7fedb1","type":"debug","z":"6d5bd906.1bf2d","name":"","active":true,"console":"false","complete":"payload.output.text","x":847.1904907226562,"y":1580.0357460975647,"wires":[]},{"id":"6d40842b.ff9e84","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1401.0357460975647,"wires":[["bc47b482.156da8"]]},{"id":"83f8ec36.6b567","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1437.0357460975647,"wires":[["bc47b482.156da8"]]},{"id":"33cbf561.5032da","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":266.69049072265625,"y":1749.0357460975647,"wires":[["4a6b8e30.7fb46"]]},{"id":"4a6b8e30.7fb46","type":"function","z":"6d5bd906.1bf2d","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":411.69049072265625,"y":1749.0357460975647,"wires":[["bc47b482.156da8"]]},{"id":"10c62db9.87b4fa","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.69049072265625,"y":1571.0357460975647,"wires":[["32caf740.bbc7b8"]]},{"id":"6bf6ee44.e6d6a8","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.19049072265625,"y":1691.0357460975647,"wires":[["97464b5.c5177b8"]]},{"id":"b7ffd383.97cdc8","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1473.0357460975647,"wires":[["bc47b482.156da8"]]},{"id":"29d1b3d6.8e9d84","type":"debug","z":"6d5bd906.1bf2d","name":"Tone analyzer debug output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":152.857177734375,"y":234.28570556640625,"wires":[]},{"id":"5de0a426.97891c","type":"watson-tone-analyzer-v3","z":"6d5bd906.1bf2d","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"","x":100,"y":180,"wires":[["f0f0d8c.f43db28","29d1b3d6.8e9d84"]]},{"id":"f0f0d8c.f43db28","type":"function","z":"6d5bd906.1bf2d","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["e1b363b8.e74908","a27e0e58.9a5d5"]]},{"id":"74144974.b26ac8","type":"function","z":"6d5bd906.1bf2d","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    \n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":2,"noerr":0,"x":888.857177734375,"y":180.28570556640625,"wires":[[],["b731021d.360ef8"]]},{"id":"55a044d6.278404","type":"function","z":"6d5bd906.1bf2d","name":"set payload","func":"incoming = msg.payload;\n\nif (incoming && incoming.indexOf(\"weather\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"weather\") != -1;\n    }).join(' ');\n    msg.payload = incoming;\n} else {\n    msg.payload = incoming;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":737.857177734375,"y":63.28572082519531,"wires":[["cf460185.7ec958"]]},{"id":"cf460185.7ec958","type":"function","z":"6d5bd906.1bf2d","name":"Device payload","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"audio\" : msg.payload\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":995.857177734375,"y":64.28570556640625,"wires":[["76fa0383.ab8924","5de0a426.97891c"]]},{"id":"76fa0383.ab8924","type":"debug","z":"6d5bd906.1bf2d","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":1011.857177734375,"y":136.28570556640625,"wires":[]},{"id":"f627f339.54e408","type":"comment","z":"6d5bd906.1bf2d","name":"Say: 1) \"turn on lights\" or 2) \"turn off lights\" or 3) \"play music\" ","info":"","x":556.857177734375,"y":504.28570556640625,"wires":[]},{"id":"c4f28cb6.6de8c8","type":"debug","z":"6d5bd906.1bf2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650.5,"y":239,"wires":[]},{"id":"e1b363b8.e74908","type":"debug","z":"6d5bd906.1bf2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":417.5,"y":238,"wires":[]},{"id":"da11f928.983c3","type":"microphone","z":"6d5bd906.1bf2d","name":"","x":126.857177734375,"y":64.28571319580078,"wires":[["c4253f2a.9e6fb8"]]},{"id":"e062723a.d51308","type":"play audio","z":"6d5bd906.1bf2d","name":"","voice":"0","x":992.857177734375,"y":369.28570556640625,"wires":[]},{"id":"ea275988.4e3988","type":"inject","z":"6d5bd906.1bf2d","name":"","topic":"Turn on the lights","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["c4253f2a.9e6fb8"]]},{"id":"a27e0e58.9a5d5","type":"watson-assistant-v2","z":"6d5bd906.1bf2d","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"78d7e263-1939-4288-bfdf-ad5390ee788a","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":650,"y":160,"wires":[["74144974.b26ac8","c4f28cb6.6de8c8"]]}]
