scripts/flows.json
[{"id":"32df457d.d308da","type":"watson-speech-to-text","z":"5ea4b063.77c75","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"FUCbl5WWa5C1","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":316.857177734375,"y":63.28571319580078,"wires":[["c1c32d9d.382328"]]},{"id":"957c7e0a.ec8608","type":"watson-text-to-speech","z":"5ea4b063.77c75","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"FUCbl5WWa5C1","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":859.857177734375,"y":202.28570556640625,"wires":[["94e70fc7.b00de8"]]},{"id":"c1c32d9d.382328","type":"function","z":"5ea4b063.77c75","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":537.857177734375,"y":63.28572082519531,"wires":[["40f404ef.e03eac"]]},{"id":"94e70fc7.b00de8","type":"function","z":"5ea4b063.77c75","name":"Set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":723.857177734375,"y":321.28570556640625,"wires":[["36dd7321.149974"]]},{"id":"3e57d0cf.e7897","type":"debug","z":"5ea4b063.77c75","name":"Tone analyzer debug output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":152.857177734375,"y":234.28570556640625,"wires":[]},{"id":"40f404ef.e03eac","type":"watson-tone-analyzer-v3","z":"5ea4b063.77c75","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"","x":113,"y":133,"wires":[["1af8d4e3.3c9063","3e57d0cf.e7897"]]},{"id":"1af8d4e3.3c9063","type":"function","z":"5ea4b063.77c75","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":133,"wires":[["4f1efc69.9d1134","4431aa9e.93bd0c"]]},{"id":"21fa688e.935ce8","type":"function","z":"5ea4b063.77c75","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    \n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":2,"noerr":0,"x":899.857177734375,"y":133.28570556640625,"wires":[[],["957c7e0a.ec8608"]]},{"id":"38c4aa73.160a96","type":"comment","z":"5ea4b063.77c75","name":"Say: 1) \"turn on lights\" or 2) \"turn off lights\" or 3) \"play music\" ","info":"","x":534.857177734375,"y":403.28570556640625,"wires":[]},{"id":"4f1efc69.9d1134","type":"debug","z":"5ea4b063.77c75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":417.5,"y":238,"wires":[]},{"id":"3b994ab9.a81136","type":"inject","z":"5ea4b063.77c75","name":"","topic":"","payload":"Hi there","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":61,"wires":[["4431aa9e.93bd0c"]]},{"id":"cbd935ac.db9d8","type":"microphone","z":"5ea4b063.77c75","name":"","x":126.857177734375,"y":64.28571319580078,"wires":[["32df457d.d308da"]]},{"id":"36dd7321.149974","type":"play audio","z":"5ea4b063.77c75","name":"","voice":"0","x":958.857177734375,"y":319.28570556640625,"wires":[]},{"id":"4431aa9e.93bd0c","type":"watson-conversation-v1","z":"5ea4b063.77c75","name":"","workspaceid":"520687ee-eba3-44cc-846a-807ec404af80","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":645,"y":132,"wires":[["21fa688e.935ce8"]]},{"id":"1dee713e.2e6c4f","type":"inject","z":"5ea4b063.77c75","name":"","topic":"testing the flow","payload":"play music","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":410,"wires":[["c1c32d9d.382328","4431aa9e.93bd0c"]]}]
